* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    color: black;
    padding: 15px 20px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: gray;
    padding: 10px 0;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: pink;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.banner img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(215, 119, 190);
        z-index: 1000;
    }

    .menu li {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #444;
    }

    .menu-icon {
        display: block;
        color: black;
    }

    .menu.show {
        display: flex;
    }
}
